.sec-bar{
    width: 100%;
    height: 40px;
    padding: 35px 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: white;
    font-family: "Quicksand" , sans-serif;
    font-weight: 700;
    font-size: 19px

}

#grey-circle{
width: 61px;
height: 61px;
border-radius: 50%;
background-color: #bbb;
display: flex;
align-items: center;
justify-content: center;

}

.logo{
    width: 15%;
    cursor: pointer;
}

.sec-bar ul li{
    list-style: none;
     display: inline-block;
     margin: 0 20px;
}

#donate{
    width: 190px;
    height: 61px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: #ffffff;
    line-height: 61px;
    text-transform: uppercase;
    background: #b8084a;
    border-radius: 360px;
    text-align: center;
}

#grey-circle{ 
    
    height:55px;
    width: 55px;
    background-color: #dcd3d3;
    border-radius: 50%;
    margin-right: 20px;
    

}


main{
    width: 100%;
    display: flex;

}


#left-background{
position: absolute;
z-index: 1;
}

#right-background{
position: absolute;    
z-index: -1;
left: 580px;


}



 #button{
    width: 200px;
    height: 61px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 19px;
    color:#b8084a;
    line-height: 61px;
    text-transform: uppercase;
    background:white;
    border-radius: 360px;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 570px;
    left:70px;
 }

 #button:hover{
    color: white;
    background-color: #b8084a;
 }

 h1{
  position: absolute;
  z-index: 1;  
  text-align: start;
  font-family: "Quicksand" , sans-serif;
  color: white;
  position: absolute;
  font-size: 66px;
  line-height: 86px;
  top: 200px;
  left: 80px;
 }